* {
  color: white;
  background: #16a086;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000000;
}

#header {
  font-family: 'Josefin Sans', sans-serif;
}

.section {
  padding: 180px;
  line-height: 10px
}

#name {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
}

#about {
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
}

#footer {
  padding: 20px;
  font-family: 'Josefin Sans', sans-serif;
}


